# Base Django & Server
Django==3.2.25
gunicorn==20.1.0
asgiref==3.5.2 # Django 3.2 dependency
pytz==2022.1 # Django 3.2 dependency
sqlparse==0.4.3

# Database
psycopg2-binary==2.9.9
dj-database-url==1.3.0

# Static & Media Files
whitenoise==5.3.0
cloudinary==1.31.0
django-cloudinary-storage==0.3.0
Pillow==9.5.0

# Authentication & User Management
django-allauth==0.51.0

# Frontend & Forms
django-bootstrap4==22.1
django-bootstrap5==22.2
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.8

# E-commerce & Admin
django-countries==7.2.1
django-admin-thumbnails==0.2.9
django-ckeditor==6.7.0
django-multiselectfield==0.1.12
django-jazzmin==2.6.0

# Utilities
python-decouple==3.8
requests==2.28.1
urllib3==1.26.12
six==1.16.0

# Optional: will add this back if using it for payments.
# stripe==4.4.0